.container {
  width: 350px;
  margin: 40px auto;
  text-align: center;
  font-family: Arial, sans-serif;
}
h1 {
  background:aqua;
  font-size: 24px;
  margin-bottom: 20px;
}
.inputTag {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  padding: 8px;
  width: 65%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addButton {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #0069d9;
}
.taskList {
  list-style-type: none;
  padding: 0;
}

.taskList li {
  background-color: #f2f2f2;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.editButton {
  background-color: rgb(0, 68, 255);
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}
/* LOGIN PAGE */
.loginContainer {
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  text-align: center;
  font-family: Arial, sans-serif;
}

.loginTitle {
  background: aqua;
  padding: 10px;
  border-radius: 6px;
  font-size: 24px;
  margin-bottom: 20px;
}

.loginInput {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginButton {
  width: 95%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.loginButton:hover {
  background: #0069d9;
}